[Unit]
Description=Docker Compose Data Application Service
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/home/blab/upost-network
ExecStart=/usr/local/bin/docker-compose -f docker-compose-dev-mailbox.yml up -d
ExecStop=/usr/local/bin/docker-compose down
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target