.queryTraceDialog {
  .empty {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 200px;
  }
}

.paging {
  width: 50%;
  display: flex;
  padding-left: 20px;
  padding-top: 10px;
  position: relative;
  top: -47px;

  button {
    background: none;
    border: none;
    color: rgba(0,0,0,.5);
    margin-right: 10px;
    border-radius: 3px;
    cursor: pointer;

    &.active {
      color: #ff554a;
    }
  }
}

.searchTextField {
  fieldset {
    legend {
      width: 0px !important;
    }
  }
}

.postingLookupTable {
  .MuiToolbar-root {
    div:nth-child(2) {
      display: none;
    }

    div:nth-child(3) {
      padding-left: 24px;
    }
  }
}