[Unit]
Description=Tilon Analyzer Server

[Service]
Type=simple
User=root
Group=root

Restart=on-failure
RestartSec=100

RequiresMountsFor=/usr/share/tilon/analyzer

EnvironmentFile=-/usr/share/tilon/analyzer/server.conf

ExecStart=/usr/share/tilon/analyzer/analyzer -start oUe_o20BlsHYULiaJppy
PIDFile=/usr/share/tilon/analyzer/analyzer.pid
WorkingDirectory=/usr/share/tilon/analyzer

[Install]
WantedBy=multi-user.target
