.page-error {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .buttons {
    margin-top: 1rem;

    .MuiButton-root {
      & + .MuiButton-root {
        margin-left: 1rem;
      }
    }
  }
}