.orgModify {
  .header {
    margin-top: 24px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;

    img {
      display: block;
      border-radius: 4px;
      width: auto;
      height: 50px;
      object-fit: cover;
      object-position: center;
      margin-right: 24px;
    }
  }
}